body {
	background: #22252a;
	margin: 0px;
  padding: 0px;
  color: #FFFFFF;
}

div {
    font-family: Helvetica, Verdana;
    font-size: 12px;
}

.mapcell {
	background: #32353a;
	border-right: 1px dashed #afafaf;
	border-top: 1px dashed #afafaf;

	width: 20px;
	height: 20px;
	
	line-height: 10px;
	
	padding: 0px;
	
	color: #a2a5aa;
	
	font-size: 18px;
}

.mapcell-left {
	border-left: 1px dashed #afafaf;
	border-right: 1px dashed #afafaf;
	border-top: 1px dashed #afafaf;
}

.mapcell-bottom {
	border-bottom: 1px dashed #afafaf;
	border-right: 1px dashed #afafaf;
	border-top: 1px dashed #afafaf;
}

.mapcell-selected {
	background: #62656a;
}

.mapcell-player {
  background: #7E8BDE;
}

#overlay {
	position: absolute;
	
	background: #ff0000;
	
	width: 265px;
	height: 265px;

	opacity: 1.0;
}

#map-output {
	color: #ababab;
	font-size: 10px;
	font-family: sans-serif;
}

#login-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: #000000;
    color: #ffffff;
    z-index: 9001;
}
=======
body {
    background: #22252a;
    margin: 0px;
    padding: 50px;
    color: #FFFFFF;
}

div {
    font-family: Helvetica, Verdana;
    font-size: 12px;
}

#title-bar {
  margin: 20px 50px 0px 70px;
  font-size: 24px;
}

#mini-map{
    float: left;
    width: 500px;
    margin: 10px 50px 50px 50px;
}

#chat{
    margin-top: -40px;
    margin-left: -80px;

    width: 300px;
    height: 760px;
    float: left;
}

#chat_box{
    width: 300px;
    height: 480px;
    background-color: #777777;
}

#chat_title{
    padding: 10px;
    background-color: #000000;
}

#chat_input{
    width: 300px;
}

.mapcell {
    background: #32353a;
    border-right: 1px dashed #afafaf;
    border-top: 1px dashed #afafaf;
    
    width: 15px;
    height: 15px;
    
    line-height: 10px;
    
    padding: 0px;
    
    color: #a2a5aa;
    
    font-size: 16px;
    border: none;
}

.mapcell-left {
    border-left: 1px dashed #afafaf;
    border-right: 1px dashed #afafaf;
    border-top: 1px dashed #afafaf;
}

.mapcell-bottom {
    border-bottom: 1px dashed #afafaf;
    border-right: 1px dashed #afafaf;
    border-top: 1px dashed #afafaf;
}

.mapcell-selected {
    background: #62656a;
}

.mapcell-player {
    background-color: #0000ff;
    color: white;
}

.mapcell-enemy {
  color: magenta;
}

#overlay {
    position: absolute;
    
    background: #ff0000;
    
    width: 265px;
    height: 265px;
    
    opacity: 1.0;
}

#map-output {
    color: #ababab;
    font-size: 10px;
    font-family: sans-serif;
}

#login-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background-color: #000000;
    color: #ffffff;
    z-index: 9001;

    opacity: 1.0;
}

#unitframe {
  position: fixed;
  
  background-color: #6e442f;
  height: 60px;
  width: 400px;
  
  bottom: 15px;
  left: 38px;
}

.unitframe-row {
  height: 30px;

}

.unitframe-label {
  position: relative;
  right: 0px;

  font-size: 26px;
  width: 50px;
  text-align: right;
}

.unitframe-bar {
  height: 20px;
  width: 340px;
  
  margin: 5px 5px 0px 5px;
  
  background-color: #0f0f0f;
  float: left;
}

#hpbar {
  background-color: #e81c29;
}

#mpbar {
  background-color: #1c15eb;
}
